.box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.box div{
    width: 100px;
    height: auto;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #0b4b29;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card {
    background-color: #a365079c;
    border-radius: 10px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: auto;
    height: auto;
}
