body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    background-color: #23835b9b;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color : white;
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
}

.stack-controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="button"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
}
